# questo file mi serve per documentare le variabili ambiente minime necessarie ad avviare il backend.

PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=orizon
DB_CONNECTION_LIMIT=10
